<div class="btm-nav btm-nav-lg">
  <button>
    <%= image_tag 'home_button.svg', alt: "Home", class: "h-5 w-5" %>
    <span class="btm-nav-label">投稿一覧</span>
  </button>
  <button class="active">
  <%= image_tag 'create_button.svg', alt: "Create", class: "h-5 w-5" %>
  <span class="btm-nav-label">投稿する</span>
</button>
  <button>
    <%= image_tag 'mypage_button.svg', alt: "My Page", class: "h-5 w-5" %>
    <span class="btm-nav-label">マイページ</span>
  </button>
</div>
