<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>パスワードリセットのご案内</title>
  </head>
  <body>
    <h1>RunBreeze</h1>
    <p>以下のリンクをクリックして、パスワードをリセットしてください。</p>
    <p><%= link_to 'パスワードをリセット', edit_password_url(resource, reset_password_token: @token) %></p>
    <p>このリンクは30分以内に有効です。</p>
    <p>もし心当たりがない場合は、このメールを無視してください。</p>
  </body>
</html>
