<!-- app/views/devise/mailer/reset_password_instructions.html.erb -->

<p><%= @resource.username %>様</p>

<p>パスワード再設定のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>

<p><%= link_to 'パスワードを再設定する', edit_user_password_url(reset_password_token: @token) %></p>
